{% extends 'admin.html'%}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">欢迎页面</a></li>
    <li> <a href="/admin/categoryIndex">分类列表</a></li>
    <li class="active">分类删除</li>
</ol>
<div class="alert alert-danger" role="alert">
    <h3>您真的要删除 [<span class="text-primary" id="cateDetial" style="font-weight:bold;font-size:26px" data-code={{id}}>{{ cateName }}</span>] 这个分类吗？</h3>
    <br>
    <button type="button" class="btn btn-danger" data-target="00">删除</button> <button type="button" class="btn btn-default">
        <a href="/admin/categoryIndex" style="text-decoration:none">退出</a>
    </button>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-warning">处理结果</h4>
        </div>
        <div class="modal-body">
          <p>恭喜您，该分类被成功删除</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default hidden failBtn" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn btn-success"> <a href="/admin/categoryIndex" style="text-decoration:none;color:#fff">返回列表页</a> </button>
        </div>
      </div>
    </div>
  </div>
<script>
    $(function(){
        $("button[type='button']").click(function(e){
            e = e || window.event;
            var target = $(e.currentTarget);
            var code = target.data("target");
            if (code === '00'){
                Oid = $("#cateDetial").data('code');
                //删除接口
                $.ajax({
                    url:'/admin/category/delete',
                    type:'POST', 
                    data:{id:Oid},
                    success:function(data){
                        var mcode = data.code;
                        if (mcode == -1){
                            $(".failBtn").removeClass("hidden");
                            $(".modal-body").html("很遗憾，删除操作失败。请检查该分类是否存在。");
                            $('#myModal').modal({
                                keyboard:true
                            })
                        }else{
                            $('#myModal').modal({
                                keyboard:true
                            })
                        }
                    },
                    error:function(data){
                        alert(data);
                    }
                })
            }else{

            }
        });
    });
</script>
{% endblock %}