{% extends 'index.html' %}
{% block left %}
<div class="mainLeft">
    <div class="listBox">
    <h1 data-id={{id}} id="title">文章标题</h1>
    <p class="colDefault info">
        作者：<span class="colInfo">文章作者</span> -
        时间：<span class="colInfo">创作日期</span> -
        阅读：<span class="colInfo">阅读量</span> -
        评论：<span class="colInfo">评论数</span>
    </p>
    <dfn class="content">
        文章内容
    </dfn>
    </div>

    <div class="listBox message">
    <h3 class="textLeft"><strong>评论</strong> <span class="em">一共有 <em id="messageCount">0</em> 条评论</span></h3>

    {% if userInfo._id %}
    <div class="commentsBox">
        <p class="textLeft mTitle">阴阳师 1999-11-22</p>
        <p class="textLeft">评论内容</p>
        <p class="textLeft mTitle">实弹射击 1991-3-22</p>
        <p class="textLeft">评论内容</p>
        <p class="textLeft clear">
    </div>
        <textarea id="messageContent"></textarea>
        <input type="hidden" id="contentId" data-id={{id}} data-author={{ mainData.userData._username }}>
        <button id="messageBtn" class="submit">提交</button>
    </p>
    {%else%}
    <p class="bgDanger" style="line-height: 30px;">你还没有登录，请先登录！</p>
    {%endif%}

    <div class="messageList">
    </div>

    <div class="pager">
        <ul class="clear">
            <li class="previous">
                <a href="">上一页</a>
            </li>
            <li></li>
            <li class="next">
                <a href="">下一页</a>
            </li>
        </ul>
    </div>

    <!--<div class="messageList">-->
        <!--<div class="messageBox"><p>还没有留言</p></div>-->
    <!--</div>-->

    <!--<div class="messageList" style="display: block;">-->
        <!--<div class="messageBox">-->
            <!--<p class="name clear"><span class="fl">admin</span><span class="fr">2016年07月29日 17:24:01</span></p><p>哈哈</p>-->
        <!--</div>-->
    <!--</div>-->

    </div>
</div>
<script src="/public/js/view.js"></script>
{% endblock %}